/* css goes here */

ul.question {
    list-style-type: none;
}

body {
    background-image: url("https://www.teahub.io/photos/full/76-761380_wiki-nyan-cat-desktop-backgrounds-pic-wpe004399-data.jpg");
}

#result-message {
    display: none;
}